.slider {
  position: relative;
  overflow: hidden;
  padding-top: 30px;
  &:hover .btn {
    opacity: 1;
  }

  .slideList {
    img {
      display: flex;
      margin: 0 auto;
      max-height: 300px;
      width: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }
  .btn {
    opacity: 0;
    transition: all 0.5s ease;
    position: absolute;
    z-index: 1;
    top: 50%;
    display: flex;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba($color: #fff, $alpha: 0.4);
    &:hover {
      background-color: #fff;
    }
  }
  .left {
    left: 2%;
  }
  .right {
    right: 2%;
  }
}
