.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  .wrapper {
    max-width: 300px;
    max-height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    .img {
      object-fit: cover;
      height: 300px;
      width: 300px;
    }
  }
  .btnViewing {
    font-size: 14px;
    position: absolute;
    display: none;
    bottom: 10px;
    white-space: no-wrap;
    padding: 10px 16px;
    border-radius: 10px;
    background-color: #fff;
  }

  &:hover .btnViewing {
    display: block;
  }

  .btn {
    background: -webkit-linear-gradient(90deg, #405758, #5e787b, #405758);
    background: linear-gradient(90deg, #405758, #5e787b, #405758);
    padding: 10px 0;
    border-radius: 12px;
    color: #fff;
    font-weight: 600;
    &:hover {
      opacity: 0.9;
    }
  }
}
