.footer {
  background-color: rgba(248, 245, 245, 0.378);
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 40px;
  div {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    .link {
      display: flex;
      align-items: center;
      font-size: 26px;
      span {
        margin-right: 10px;
      }
    }
  }
}
